<footer class="footer">
    <div class="container">
        <div class="footer__flex">
            <div class="footer__left">
                <a href="/"><h1 class="header__title">Zero Log</h1></a>
            </div>
            <div class="footer__right">
                <nav class="footer__links">
                    <a class="footer__link" href="/">Home <i class="fa-solid fa-house"></i></a>
                    <a class="footer__link" href="/category/notes">Notes <i class="fa-solid fa-note-sticky"></i></a>
                    <a class="footer__link" href="/category/labs-projects">Labs and Projects <i class="fa-solid fa-vials"></i></a>
                    <a class="footer__link" href="/roadmap.html" >Roadmap <i class="fa-solid fa-list-check"></i></a>
                    <a class="footer__link" href="/about.html" >About Me <i class="fa-solid fa-id-badge"></i></a>
                    <a class="footer__link" href="https://github.com/Anthony-ZeroLog" target="_blank">Github <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </nav>
            </div>
            <div>
                <p class="footer__rights">2025, All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>