<header class="header">
    <div class="container">
        <div class="header__flex">
            <div class="header__left">
                <a href="/"><h1 class="header__title">Zero Log</h1></a>
            </div>
            <div class="header__open" id="header__open">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="header__right">
                <nav class="header__links" id="header__nav">
                    <div class="header__close" id="header__close">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                    <a class="header__link" href="/">Home <i class="fa-solid fa-house"></i></a>
                    <a class="header__link" href="/category/notes">Notes <i class="fa-solid fa-note-sticky"></i></a>
                    <a class="header__link" href="/category/labs-projects">Labs and Projects <i class="fa-solid fa-vials"></i></a>
                    <a class="header__link" href="/roadmap.html" >Roadmap <i class="fa-solid fa-list-check"></i></a>
                    <a class="header__link" href="/about.html" >About Me <i class="fa-solid fa-id-badge"></i></a>
                    <a class="header__link" href="https://github.com/Anthony-ZeroLog" target="_blank">Github <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </nav>
            </div>
        </div>
    </div>
</header>